.license{
	background-color: cccccc;
}
.edit{
	background-color: #999999;
}
.quote{
	background-color: #bd6;
}
.svcLicense{
	background-color: #969;
}
.editDM{
	background-color: #666666;
}
.quoteDM{
	background-color: #dfb;
}
.quoteSWODescription{
	background-color: #ffffff;
}

.defaultedEE{
	background-color: #cef;
}
.invalidEE{
	background-color: #f76;
}
.copiedEE{
	background-color: #9c3;
}

.error{
	color: c00;
}
.progress{
	background-color: #47b;
}

.sharedProposal{
	background-color: #ffa;
}

.duplicateDeleted{
	background-color: #f90;
}

